$primary-color-black: #323232;
$primary-color-blue: #0095FF;
$primary-color-silver:  #AFAFAF;
$primary-color-white:  #FFFFFF;

$secondary-color-black: #000000;
$secondary-color-dark-blue: #0065A5;
$secondary-color-mercury: #E1E1E1;
$secondary-color-albaster: #FAFAFA;

