@font-face {
    font-family: 'avenir';
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
    font-weight: 400;
}



@font-face {
    font-family: 'avenir';
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
    font-weight: 700;
}

// @font-face {
//     font-family: 'avenir-alternate';
//     src: url(../../assets/Font/Alternative\ files/AvenirNexLTPro.ttf) format("truetype");
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'avenir-alternate';
//     src: url(../../assets/Font/Alternative\ files/AvenirNextLTProBold.ttf) format("truetype");
//     font-weight: 700;
// }


