@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/colors";


.video {
    display: flex;
    flex-direction: column;
    width:90%;
    margin: 24px auto;

    @include tablet {
      margin: 36px auto;
    }
    @include desktop {
      margin-bottom: 0;
    }

    @include desktop {
      border-left: 1px solid $secondary-color-mercury;
    }
  
    &__next {
      @include mobile__subheader;
      margin:0 0 16px 0;
      color: $primary-color-silver;
      @include desktop {
        padding-left: 20px;

      }
    }
    &__container {
      margin:10px 0;
      border:none;
      padding:0;
      display: flex;
      align-items: flex-start;
      background-color: $primary-color-white;
      @include desktop {
        padding-left: 20px;

      }
      &-image {
        width: 40%;
        height: 6rem;
        margin-right: 1rem;
        border-radius: 4px;
        object-fit:cover;

        @include tablet {
          width: 120px;
          height: 5rem;

        }
      }
    }
    &__sub {
      width: 60%;

      @include tablet {
        width: 25%;
      }
      &-title {
        @include mobile__subheader;
        text-align: left;
        padding-bottom: 10px;
        width: 100%;
        margin:0;
        
        @include tablet {
          @include tablet__subheader;
        }
      }
      &-name {
        @include  mobile__bodycopy;
        text-align: left;
        margin:0;

        @include tablet {
          @include tablet__bodycopy;
        }
      }
    }
  }