@import "../../styles/partials/colors";
@import "../../styles/partials/typography";
@import "../../styles/partials/mixins";

.about-comments-videos__container {
    @include desktop {
      width: 85%;
      margin: 0 auto;
      display: flex;
    }
  }
  
  .about-comments__container {
    @include desktop {
      min-width: 53.75rem;
      max-width: 53.75rem;
    }
  }
  