@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.header {

    &__container {
        max-height: 11rem;
        margin: 1rem auto;
        width: 90%;
      
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          position: relative;
          margin: 1.5rem auto;
        }

        @include desktop {
          width: 85%;
        }

    }
 

  background-color: $primary-color-white;
  &__logo {
    height: 1.5625rem;
    display: flex;
    justify-content: center;
    width: 7.5rem;
    margin-bottom: 0.625rem;

    @include tablet {
      margin: 0;
      position: absolute;
      left: 0;
    }
    
  }
  &__search {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.25rem;
    border:none;
    



    

    &__container { 
      width:100%;
      display: flex;
      
      @include tablet  {
        width: 35%;
        margin: 0 1.25rem;
      }

      @include desktop {
        width: 20%;
      }

    }


    

   
   
    &-bar {
      resize: none;
      width: inherit;
      height: 2.5rem;
      margin-right: 0.3125rem;
      border: 0.0625rem solid $secondary-color-mercury;
      border-radius: 0.25rem;
      background-image: url(../../assets/Icons/search.svg);
      background-repeat: no-repeat;
      background-position: 0.625rem ;
      padding-left: 2.1875rem;
      &:focus {
        outline:none;
        border: 0.0625rem solid $primary-color-blue;
      }

     

    }

    &-user--mobile {
      min-width: 2.25rem;
      height: 2.25rem;
      background-image: url(../../assets/Images/Mohan-muruge.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2rem;
      margin-left: 1rem;

      @include tablet {
        display: none;
      }
    }
  }
  &__bot {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    width: 100%;
    justify-content: center;
    @include tablet {
      padding: 0;
      width: 30%;
    }
    @include desktop {
      width: 20%;
    }

    &-upload {
      height: 2.5rem;
      background-color: $primary-color-blue;
      border: none;
      border-radius: 0.25rem;
      color: $primary-color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      position: relative;
      @include mobile__lables-buttons;

      @include tablet {
        @include tablet__lables-buttons;
      }
      &:focus {
        outline-width: 0;
      }
      &:hover {
        background-color: $secondary-color-dark-blue;
      }
      &-image {
        padding-right: 1rem;
        position: absolute;
        left: 0.625rem;
      }
    }
    &-user--tablet {
      min-width: 2.5rem;
      height: 2.5rem;
      background-image: url(../../assets/Images/Mohan-muruge.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin-left: 1rem;
      display: none;
      @include tablet {
        display:flex;
      }
    }
  }
}
