@import "../../styles/partials/colors";
@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";

.header {

    &__container {
        max-height: 11rem;
        margin: 16px auto;
        width: 90%;
      
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          position: relative;
          margin: 24px auto;
        }

        @include desktop {
          width: 85%;
        }

    }
 

  background-color: $primary-color-white;
  &__logo {
    height: 25px;
    display: flex;
    justify-content: center;
    width: 120px;
    margin-bottom: 10px;

    @include tablet {
      margin: 0;
      position: absolute;
      left: 0;
    }
    
  }
  &__search {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    border: 1px solid $secondary-color-mercury;


    

    &__container { 
      width:100%;
      display: flex;
      @include tablet  {
        width: 35%;
        margin: 0 20px;
      }

      @include desktop {
        width: 20%;
      }

    }


    

   
    &-image {
      height: 1.125rem;
      width: 1.125rem;
      margin-left: 1rem;
      margin-right: 0.5rem;
    }
    &-bar {
      resize: none;
      width: inherit;
      height: 40px;
      margin-right: 5px;
      border: 1px solid $secondary-color-mercury;
      border-left: none;
      border-right: none;
      &:focus {
        outline-width: 0;
      }

    }

    &-user--mobile {
      min-width: 36px;
      height: 36px;
      background-image: url(../../assets/Images/Mohan-muruge.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2rem;
      margin-left: 1rem;

      @include tablet {
        display: none;
      }
    }
  }
  &__bot {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    width: 100%;
    justify-content: center;
    @include tablet {
      padding: 0;
      width: 30%;
    }
    @include desktop {
      width: 20%;
    }

    &-upload {
      height: 40px;
      background-color: $primary-color-blue;
      border: none;
      border-radius: 4px;
      color: $primary-color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      position: relative;
      @include mobile__lables-buttons;

      @include tablet {
        @include tablet__lables-buttons;
      }
      &:focus {
        outline-width: 0;
      }
      &:hover {
        background-color: $secondary-color-dark-blue;
      }
      &-image {
        padding-right: 1rem;
        position: absolute;
        left: 10px;
      }
    }
    &-user--tablet {
      min-width: 40px;
      height: 40px;
      background-image: url(../../assets/Images/Mohan-muruge.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin-left: 1rem;
      display: none;
      @include tablet {
        display:flex;
      }
    }
  }
}
