@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/colors";

// Comment section

.comments {
  background-color: $primary-color-white;
  font-weight: 600;
  color: $primary-color-black;
  font-size: 0.8125rem;
  width: 90%;
  margin: 1.5rem auto;

  @include tablet {
    margin: 2.25rem auto;
  }

  @include desktop {
    width: 100%;
  }
  &__title {
    @include mobile__subheader;
    color: $primary-color-black;
    line-height: 2rem;
    padding: 0;
    margin:1rem 0;


    @include tablet {
      @include tablet__subheader;
    }
  }

  &__input {
    display: flex;
    justify-content: center;
    border-bottom: 0.0625rem solid $secondary-color-mercury;
    width: 100%;

  

   
  }

  &__profile-pic {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    object-fit: cover;
    object-position: 20% 0;
  }

  &__info {
    width: 100%;

    &__form {
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding-bottom: 2rem;
      width: 100%;

      @include tablet {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between  ;
      }
    }

    &__container {
      display:flex;
      flex-direction: column;

      @include tablet {
        width: 70%;
      }
    }

    

    

  

    &__comment {
      @include mobile__lables-buttons;
      color: $primary-color-silver;
      margin: 0.3125rem 0;

      @include tablet {
        @include tablet__lables-buttons;
      }
    }

    &__comment-input {
      background-color: $secondary-color-albaster;
      border-radius: 0.25rem;
      border: 0.0938rem solid $secondary-color-mercury;
      padding: 0.625rem;
      padding-bottom: 4rem;
      color: $primary-color-black;
      resize: none;
      width: 100%;
      color: $primary-color-black;
      

      @include tablet {
        padding: 0.625rem 0;
        height: 2.5rem;
        padding-left: 0.625rem;
      }
    }

    &--error {
      border: 0.0938rem solid red;
      outline-width: 0;
    }


    &__comment-input:focus {
      border: 0.0938rem solid $primary-color-blue;
      outline-width: 0;
    }
  }

  &__submit {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    width: 100%;
    justify-content: center;

    @include tablet {
      width: 25%;
    }

    @include desktop {
      padding-right: 1.25rem;

    }

    
    &-button {
      height: 2.5rem;
      width: 100%;
      background-color: $primary-color-blue;
      border: none;
      border-radius: 0.25rem;
      color: $primary-color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include mobile__lables-buttons;

      @include tablet {
        @include tablet__lables-buttons
      }

     

      
      


      &:focus {
        outline-width: 0;
      }
      &:hover {
        background-color: $secondary-color-dark-blue;
      }
      &__image {
        padding-right: 1rem;
        position: absolute;
        left: 0.625rem;
      }
    }
  }
}

textarea {
  font-family: "avenir";
}

